@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;

  height: 100vh;
  background-color: #b1bfd8;
  background-image: linear-gradient(315deg, #b1bfd8 0%, #8498be 74%);
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 10px;
  backdrop-filter: blur(2rem);
  border: 4px solid
    linear-gradient(
      to right bottom,
      rgba(204, 203, 203, 0.7),
      rgba(216, 216, 216, 0.3)
    );
}

.btn {
  display: inline-block;
  background: #000;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.98);
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
  label {
    display: block;
  }

  input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    flex: 1;
  }

  input {
    flex: 2;
    height: 20px;
  }
}
